body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  color: #293c4b;
}

.square {
  display: inline-block;
  height: 100px;
  width: 100px;

}

.square.dark {
  background-color: grey;
}

.square.light {
  background-color: lightyellow;
}

.square.orange {
  background-color: orange;
}

.square.red {
  background-color: red;
}

.row {
  font-size: 0
}

.piece {
  text-align: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  position: absolute;
}
